nodes:
{% for i in nodes %}
  - address: {{ i }}
    user: ubuntu
    role:
      - controlplane
      - etcd
      - worker
{% endfor %}

ssh_key_path: ~/.ssh/rke-{{ config.environment }}}-{{ config.cluster_id }}

bastion_host:
  address: {{ terraform.outputs.bastion.value }}
  user: ubuntu
  port: 22
  ssh_key_path: ~/.ssh/bastion-{{ config.environment }}}-{{ config.cluster_id }}

cluster_name: rancher-{{ config.environment }}-{{ config.cluster_id }}

ignore_docker_version: false

kubernetes_version: {{ version }}

services:
  etcd:
    backup_config:
      enabled: true
      interval_hours: 6
      retention: 60
      s3backupconfig:
        bucket_name: "{{ terraform.outputs.s3_backup.value }}"
        folder: "etcd"
        endpoint: "s3.amazonaws.com"
    extra_args:
      data-dir: '/var/lib/rancher/etcd/data'
      wal-dir: '/var/lib/rancher/etcd/wal/wal_dir'
    extra_binds:
      - '/var/lib/etcd/data:/var/lib/rancher/etcd/data'
      - '/var/lib/etcd/wal:/var/lib/rancher/etcd/wal'

authorization:
  mode: rbac

cloud_provider:
  name: aws

network:
  plugin: calico
  options:
    calico_cloud_provider: aws

dns:
  provider: coredns

ingress:
  provider: nginx
